<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_uy79Ge7C_Luej2jSxNptQWEZuLQ-JvA</string>
	<key>GCM_SENDER_ID</key>
	<string>395011186772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solexpresspy.medicare</string>
	<key>PROJECT_ID</key>
	<string>solespresspy-medicare</string>
	<key>STORAGE_BUCKET</key>
	<string>solespresspy-medicare.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395011186772:ios:faf6bb27968c2f0fb44dc1</string>
</dict>
</plist>